.body{
    width: 100%;
    height: 100%;
}
.antContent{

}
.antHeader{

}
.row{
    display: flex;
    flex-direction: row;
}
.antBody{

}
.antField{
    padding: 15px;
    width: 200px;
    padding-bottom: 50px;
    border-right: 1px solid black;
    text-align: center;
}
.antLastField{
    padding: 15px;
    width: 200px;
    text-align: center;
}
.antButton{
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}